body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "ingredients instructions"
        "footer footer";
    grid-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

header {
    grid-area: header;
    text-align: center;
}

.ingredients, .instructions, .ingredients2, .instructions2 {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.ingredients {
    grid-area: ingredients;
}

.instructions {
    grid-area: instructions;
}



h1, h2 {
    margin-top: 0;
}

ul, ol {
    margin: 0;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}
.recipe-photo {
    max-width: 100%; /* Ensures the image doesn't overflow its container */
    margin-top: 20px; /* Spacing between the text and the photo */
    border-radius: 5px; /* Optional rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional shadow for some depth */
}
footer {
    grid-area: footer;
    text-align: center;
    color: #777;
}